QUOTE_FORM_WEBHOOK=https://services.leadconnectorhq.com/hooks/lgMnKq09kTzFVsHzOjd3/webhook-trigger/t9vDXCdo1uXVOq7ntXC7
MAIN_FORM_WEBHOOK=https://services.leadconnectorhq.com/hooks/lgMnKq09kTzFVsHzOjd3/webhook-trigger/QOpFlrRpMKgmjShfVwUR
NEGATIVE_REVIEW_WEBHOOK=https://services.leadconnectorhq.com/hooks/lgMnKq09kTzFVsHzOjd3/webhook-trigger/SIDrDVRQ135NPZl0UgbS
DISCOUNT_FORM_WEBHOOK=https://services.leadconnectorhq.com/hooks/lgMnKq09kTzFVsHzOjd3/webhook-trigger/b8Rq77KyHvC3YYRGwCB1
